
# .metadata von eclipse-Workspace ignorieren
Sourcecode/WorkspacePren/.metadata/
.cproject
# Config-File ignorieren
Sourcecode/WorkspacePren/GueselStar/conf/PrenConfig.conf
Sourcecode/WorkspacePren/GueselStar/.cproject
Sourcecode/WorkspacePren/UARTTestes/.cproject

PREN_img
PREN_img2
PREN_img3
PREN_img4
PREN_img5
PREN_img6
PREN_img7
PREN_img8
